/*banner部分*/

header{
	width: 100%; 
	height:732px;
	/*background:red;*/
	overflow: hidden;
    position: relative;
}
header nav{
	width: 1200px; 
	height:732px;
	/*background: red;*/
	position: absolute;
	left: 50%;
	margin-left: -600px;
	z-index: 1;
}
header .bannertu{
	width: 1920px; 
	height:100%;
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
header nav .danghang{
	width: 1120px; 
	height:45px;
	/*background: black;*/
	position: absolute;
	top: 33px;
}
.danghang .logo{
	width: 209px; 
	height:45px;
	/*background: yellow;*/
	float: left;
	padding-top: 10px;
	padding-left: 17px;
}
.danghang .link{
	width: 895px; 
	height:45px;
	background: black;
	float: left;
	padding-top: 12px;
	padding-left: 7px;
}
.link ul li{
	float: left;
	width: 110px; 
	height:20px;
    /*background:white;*/
	padding-left: 17px;
	border-right: 1px solid #c9c8c8;
}
.link ul .one{
	           width: 70px;
}
.link ul .two{
	            width: 130px;
}
.link ul .three{
	            width: 130px;
}
.link ul .eight{
	            border-right:0;
}
.link ul .eight a{
	color: #c5c3c3;
}
.link ul li a{
	font-size: 18px;
	color: white;
}
.link ul li a:hover{
	                color:#c5c3c3;
}
header nav .lunbo{
	          width: 10px;
	          height: 96px;
	          /*background: white;*/
	          position: absolute;
	          left: 29px;
	          bottom: 209px;
}
.lunbo .lob{
	        width: 10px;
	        height:10px;
	        background: #454645;
	        margin-top: 8px;
	        border-radius: 50%;
		    cursor: pointer;
}
.lunbo .lob3{
	         width: 10px;
	         height: 40px;
	         background:#bcbbbb;
	         border-radius: 20px;
}
.lunbo .lob1{
	         margin-top: 0px;
}


section{
	width: 1200px;
	height: 1200px;
	/*background: blue;*/
	margin: 63px auto;
}
/*<!-- 面包屑导航 -->*/
.mbx{
	width: 269px;
	height: 22px;
	margin-left: 20px;
	/*background: red;*/
}
.mbx img{
	float: left;
}
.mbx p{
	float: left;
	font-size: 18px;
	color: #353535;
	margin-left: 8px;
}
.title{
	width: 517px;
	height: 193px;
	/*background: yellow;*/
	margin: 60px auto;
	text-align: center;
}
.title .daxie{
	margin-top: 14px;
	font-size: 18px;
	font-family: Arial;
	color: #000000;
}
.title .zw{
	margin-top: 10px;
	font-size: 24px;
	color: #3d3d3c;
	font-weight: bold;
}
.title .xiaozi{
	margin-top: 15px;
	font-size: 12px;
	font-family: Arial;
	color: #2d2c2c;
	margin-bottom:28px;
}


/*<!-- 主体内容 -->*/
.zhuti{
	width: 1000px;
    height: 973px;
    /*background: red;*/
    margin: 0 auto;
    position: relative;
}


.shang{
	width: 1000px;
	height: 372px;
	/*background: yellow;*/
}
.shang .quan{
	position: absolute;
	right: 100px;
	top: 41px;
	opacity: 0.25;
	z-index: 1;
}
.shang .zhezhao{
	width: 1000px;
	height: 372px;
	position: absolute;
	left: 0;
	top: 0;
}
.shang .zuo{
	width: 352px;
	height: 110px;
	/*background: red;*/
	position: absolute;
	left: 46px;
	top: 85px;
}

.shang .zuo .da{
	font-family: Arial;
	font-size: 36px;
    color: white;
}
.shang .zuo .xiao{
	margin-top:5px; 
    font-family: Arial;
    font-size: 20px;
    color: white;
}
.shang .zuo .dianh{
	margin-top:15px;
	font-size: 23px;
	color: white;
	font-family: 微软雅黑；
}







.neirong{
	width: 1000px;
	height: 475px;
	margin-top: 60px;
	/*background:pink;*/
}
.neirong .zuo{
	width:362px;
	height: 445px;
	/*background: blue;*/
	float: left;
}
.neirong .you{
    width:500px;
	height: 375px;
	/*background: green;*/
	float: left;
	margin-left: 134px;
}
.neirong .zuo .fangshi{
	width:364px;
	height: 60px;
	/*background: pink;*/
	float: left;
	margin-bottom: 45px;
}
.neirong .zuo img{
	float: left;
}
.neirong .zuo .zhongwen{
    float: left;
    margin-right: 14px;
    font-size: 18px;
	color: #535252;

}
.neirong .zuo .yingwen{
	float: left;
	font-size: 16px;
	color: #b5b3b3;
	font-family: Arial;

}
.neirong .zuo .fangshi .lxdh2{
	margin-top: 15px;

}
.neirong .zuo .fangshi .lxdh1{
	font-size: 24px;
	color: #3a3a39;
	font-weight: bold;
}


.neirong .you .yi{
	width: 188px;
	height: 50px;
	/*background: red;*/
}
.neirong .you .er{
	width: 100%;
	height: 40px;
	/*background: yellow;*/
	margin-top: 30px;
}
.neirong .you .er1{
	margin-top:55px;
}
.neirong .you input{
	width: 100%;
    font-size: 18px;
    color: #b5b3b3;
    font-family: Arial;
    background: none;
    border-bottom: 2px solid #b5b3b3;
    border-top:0;
    border-left:0;
    border-right:0;
    outline: none;
}

.neirong .you .san{
    text-align: center;
    line-height: 60px;
	width: 100%;
	height: 60px;
	background:#a09e9d;
	margin-top:100px;
	font-size: 18px;
	color: #3a3838;
	font-family: Arial;
	cursor: pointer;
}

.neirong .you .yi p{
	font-size: 36px;
	color: #0d9b02;
	font-family: Arial;

}
.neirong .you .yi .tiao{
	width: 25px;
	height: 5px;
	background:#0d9b02;
	margin-top: 4px;
	margin-left: 2px;
}






footer{
	width: 392px;
	height: 56px;
	/*background: pink;*/
	margin:0 auto;
	margin-top: 136px;
	text-align: center;
	font-size: 12px;
	font-family: Arial;
	color:#3d3d3c;
	line-height: 20px;
}
footer p span{
	font-size: 14px;
}
footer p span span{
	font-weight: bold;
}

.foot{
	width: 100%;
	height: 70px;
	background:#c9c9c9;
	margin-top: 27px;
	line-height: 70px;
	text-align: center;
	font-size: 12px;
	color: #3c3c3c;
}