.details{
  justify-content: flex-start!important;
  padding-bottom: 1.61rem;
  .box{
    width:4.84rem;
  }
  .border{
    opacity: 0.2;
    border-top:solid 0.05rem #666;
    margin-bottom: 0.4rem;
  }
  dt{
    font-size: 0.24rem;
    font-weight: bold;
    line-height: 1;
    color: #666666!important;
    margin-bottom: 0.26rem;
    display: flex;
    justify-content: space-between;
  }
  .china{
    width:0.41rem;
    height: 0.31rem;
    background:url("../images/china.png")center/cover no-repeat;
  }
  dd{
    font-size: 0.24rem;
    line-height: 1.17;
    text-align: left;
    color: #666666;
  }
  address{
    font-size: 0.17rem;
    line-height: 1.53;
    text-align: left;
    color: #666666;
    div{
      margin-top: 0.19rem;
    }
  }
  strong{
    font-size: 0.24rem;
    line-height: 1.17;
    text-align: center;
    color: #666666;
    margin-bottom: 0.19rem;
  }

}