@import "base.css";
@import "mixin";

.container{
  width:100%;
  padding-left: 0.33rem!important;
  padding-right: 0.41rem!important;
  padding-top: 0.36rem!important;
  background: #fff;
  .time{
    display: flex;
    align-items: center;
    margin-bottom: 0.43rem;
    margin-top: 0.6rem;
    font-size: 0.34rem;
    font-weight: 500;
    text-align: left;
    color: #a2a2a2;
   img{
     margin-right: 0.26rem;
     width:0.36rem;
     height: 0.36rem;
   }
  }
}
h1 {
  font-family: PingFang-SC;
  font-weight: 500;
  text-align: left;
  font-size: 0.37rem;
  color: #000;

}  p{
    text-indent: 2em;
    margin-bottom: 0.3rem;
    font-size: 0.28rem;
     color: #353535;
     font-weight: 500;
     line-height: 1.29;
     text-align: justify;

  }
